/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #141e30, #243b55);
    color: #f8f9fa;
}

/* Video Container */
#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease;
    overflow: hidden;
}

#video-container.hidden {
    opacity: 0;
    visibility: hidden;
}

#intro-video {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

/* Navbar */
.navbar {
    background-color: #0f2027;
    border-bottom: 2px solid #007bff;
}
.navbar-brand, .nav-link {
    color: #f8f9fa !important;
}
.nav-link:hover {
    color: #007bff !important;
}

/* Carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro para visibilidad */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid white; /* Borde blanco */
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #007bff;
}

/* Transiciones */
img, button, .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

